$green: #102027;
$primary: #da291c;
$secondary: #0087EF;
$back: #fff;
$thickness: 5px;
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~bootstrap/scss/bootstrap";

body {
  font-family: Roboto, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

#closeMenu {
  position: absolute;
  top: 0;
  right: 0;
}

.page-show {
  color: #FFFFFF;
  font-family: 'RocknRoll One', sans-serif;
  margin-right: 11rem;
  font-size: 3rem;
  text-shadow: 0px 0px 24px rgba(0, 0, 0, 1), 0px 0px 50px rgba(0, 0, 0, 1), 0px 0px 30px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
}

.login-form {
  background: linear-gradient(45deg, #02001F, #1F1B4E);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.login-form-header {
  color: white;
  margin-bottom: 3px;
  font-family: 'RocknRoll One', sans-serif;
  padding-bottom: 10px;
  border-bottom: 3px solid $primary;
}

.login-form-input {
  border: 0;
  color: #1F1B4E;
  background-color: white;
  padding: 5px 10px;
  width: 100%;
  text-align: center;

  &.is-invalid {
    border: 2px solid $primary;
  }

  &:focus {
    outline: none;
    -webkit-box-shadow: 0px 3px 30px -9px rgba(255, 255, 255, 0.46);
    -moz-box-shadow: 0px 3px 30px -9px rgba(255, 255, 255, 0.46);
    box-shadow: 0px 3px 40px -9px rgba(255, 255, 255, 0.46);
  }
}

.login-form-error {
  color: $primary;
  font-weight: bold;
}

#login-form {
  max-width: 600px;
}

.btn-xd {
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
  padding: 5px 40px;

  &:hover {
    background-color: #FFFFFF;
    font-weight: bold;
    color: $primary;
  }
}

.w-form-90 {
  width: 90%;
  max-width: 70%;
}

.login-form-close {
  color: white;
  padding: 12px 23px;
  border: $thickness solid transparent;
  font-weight: bold;

  &:hover {
    color: $primary;
  }
}

.login-form-label {
  color: white;
  font-weight: bold;
}

.carousel-image {
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
}

.no-scroll {
  overflow: hidden;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.carousel-control-prev {
  &:hover {
    background-color: #1F1B4E33;
  }
}

.carousel-control-next {
  &:hover {
    .carousel-control-prev-icon {
      color: #1F1B4E;
    }

    background-color: #1F1B4E33;
  }
}

.carousel-indicators {
  & li {
    background-color: $primary;
  }
}

$effect: hover 1s linear infinite;

.pre-loader {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #02001F, #1F1B4E);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pre-loader-text {
  width: 70%;
  text-align: center;

  span {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
    font-size: 2em;
    font-family: "Roboto", serif;
    font-weight: 600;
    color: white;
  }

  span:nth-child(1) {
    animation: $effect;
  }

  span:nth-child(2) {
    animation: $effect .125s;
  }

  span:nth-child(3) {
    animation: $effect .25s;
  }

  span:nth-child(4) {
    animation: $effect .375s;
  }

  span:nth-child(5) {
    animation: $effect .5s;
  }

  span:nth-child(6) {
    animation: $effect .675s;
  }

  span:nth-child(7) {
    animation: $effect .75s;
  }
}

@media (min-width: 576px) {
  .pre-loader-text {
    width: 60%;

    span {
      font-size: 3em;
    }
  }
}

// md -Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .pre-loader-text {
    width: 50%;

    span {
      font-size: 4em;
    }
  }
}

// lg -Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .pre-loader-text {
    width:450px;

    span {
      font-size: 4.5em;
    }
  }
}

// xl - Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

@keyframes hover {
  0% {
    transform: scale(1);
    color: white;
  }

  20% {
    transform: scale(1.5);
    color: $primary;
  }

  50% {
    transform: scale(1);
    color: $secondary;
  }

}

