$green: #102027;
$primary: #da291c;
$secondary: #0087EF;
$back: #fff;
$thickness: 5px;
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~bootstrap/scss/bootstrap";

body {
  font-family: Roboto, Arial, sans-serif;
  background: #02001F;
}

* {
  box-sizing: border-box;
}

#closeMenu {
  position: absolute;
  top: 0;
  right: 0;
}

.page-show {
  color: #FFFFFF;
  font-family: 'RocknRoll One', sans-serif;
  margin-right: 11rem;
  font-size: 3rem;
  text-shadow: 0px 0px 24px rgba(0, 0, 0, 1), 0px 0px 50px rgba(0, 0, 0, 1), 0px 0px 30px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
}

.login-form {
  background: linear-gradient(45deg, #02001F, #1F1B4E);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.login-form-header {
  color: white;
  margin-bottom: 3px;
  font-family: 'RocknRoll One', sans-serif;
  padding-bottom: 10px;
  border-bottom: 3px solid $primary;
}

.login-form-input {
  border: 0;
  color: #1F1B4E;
  background-color: white;
  padding: 5px 10px;
  width: 100%;

  &.is-invalid {
    border: 2px solid $primary;
  }

  &:focus {
    outline: none;
    -webkit-box-shadow: 0px 3px 30px -9px rgba(255, 255, 255, 0.46);
    -moz-box-shadow: 0px 3px 30px -9px rgba(255, 255, 255, 0.46);
    box-shadow: 0px 3px 40px -9px rgba(255, 255, 255, 0.46);
  }
}

.login-form-error {
  color: $primary;
  font-weight: bold;
}

#login-form {
  max-width: 600px;
}

.btn-xd {
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
  padding: 5px 40px;

  &:hover {
    background-color: #FFFFFF;
    font-weight: bold;
    color: $primary;
  }
}

.w-form-90 {
  width: 90%;
  max-width: 70%;
}

.login-form-close {
  color: white;
  padding: 12px 23px;
  border: $thickness solid transparent;
  font-weight: bold;

  &:hover {
    color: $primary;
  }
}

.login-form-label {
  color: white;
  font-weight: bold;
}

.carousel-image {
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
}

.no-scroll {
  overflow: hidden;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.carousel-control-prev {
  &:hover {
    background-color: #1F1B4E33;
  }
}

.carousel-control-next {
  &:hover {
    .carousel-control-prev-icon {
      color: #1F1B4E;
    }

    background-color: #1F1B4E33;
  }
}

.carousel-indicators {
  & li {
    background-color: $primary;
  }
}

$effect: hover 1s linear infinite;

.no-match {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #02001F, #1F1B4E);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .no-match-text {
    width: 70%;
    text-align: center;

    span.head {
      display: inline-block;
      text-transform: uppercase;
      text-align: center;
      margin: 2px;
      font-size: 5rem;
      font-family: "Roboto", serif;
      font-weight: 600;
      color: $primary;
      width: 100%;
    }
    span.text {
      color: white;
    }
  }
}

.pre-loader {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #02001F, #1F1B4E);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.progress {
  border-radius: 0;
}

.progress-bar {
  background-color: $primary;
}

.pre-loader-text {
  width: 70%;
  text-align: center;

  span {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin: 2px;
    font-size: 2em;
    font-family: "Roboto", serif;
    font-weight: 600;
    color: $primary;
  }

}

.header {
  color: white;
  text-align: center;

  span.b {
    border-bottom: 3px solid $primary;
    padding: 10px 30px;
  }
}

.label {
  color: white;
  font-weight: bold;
}

.check-box-container {

  a {
    color: $red;
    text-decoration: underline;
  }

  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ {
        .checkmark {
          border-color: $primary;

          &:after {
            display: block;
          }
        }
      }
    }
  }

  &:hover {
    input {
      ~ {
        .checkmark {
          border-color: $red;
        }
      }
    }
  }

  .checkmark {
    &:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid white;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

@media (min-width: 576px) {
  .pre-loader-text {
    width: 60%;

    span {
      font-size: 3em;
    }
  }
}

// md -Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .pre-loader-text {
    width: 50%;

    span {
      font-size: 4em;
    }
  }
}

// lg -Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .pre-loader-text {
    width: 450px;

    span {
      font-size: 4.5em;
    }
  }
}

// xl - Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

