doctype html
//if lt IE 7
//if IE 7
//if IE 8
//if gt IE 8
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(property='og:title' content='SUPRISE its a shortend Link :P')
  meta(property='og:description' content='You dont know whats behinde this link but it should be safe :)')
  meta(property='og:url' content="#{url}")
  meta(property='og:site_name' content="XD0M3's URL Shortener")
  meta(property='og:image' content='https://xd0m3.eu/uploads/hole.png')
  meta(property='og:image:width' content='400')
  meta(property='og:image:height' content='400')
  style.
    body {
    background-color: #102027;
    height: 100vh;
    }
body
 script.
   window.location = "#{url}"
    
